-user = current_user
%div.sidebar
  %ul 
    %li
      = gravatar_for(user)
      %h3
        = user.name
    %li
      = user.email
    %li
      URL:
      = link_to user_path(user)
    %li
      Liikuntakertoja:
      = user.events.count
    %li
      = link_to "Kavereita: ", friends_user_path(user)
      = user.friends.count
      %ul.friends
        - user.friends.each do |friend|
          %li
            = link_to gravatar_for(friend, {:size=>  30, :default => "mm"}), friend
    %li#friendship_requests
      = link_to "Kaveripyyntöjä: "+ user.friendship_requesters.count.to_s, friendship_requests_user_path(user)
      %ul.friend_requests
        -user.friendship_requesters.each do |requester|
          %li
            = link_to gravatar_for(requester, {:size =>  30, :default =>  "mm"}), requester