<% @event = current_user.events.build  %>
<div>Palvelu tunnistaa tapahtumasi linkin perusteella. Hae linkki esimerkiksi
  <%= link_to "tältä Yliopistoliikunnan sivulta", "http://yliopistoliikunta.helsinki.fi/yol/web/fi/event/listEvents.do?shortcutSportId=825079" %>.</div>
<%= form_for @reservation, :url => reservations_path do |f|%>
  <%= render('shared/error_messages', :object => f.object) %>
  <div class="field">
    <%=f.label :yol_event_url %> <%=  f.text_field :yol_event_url %>
  </div>
  <div class="field">
    <%=f.label :yol_username %> <%=  f.text_field :yol_username %>
  </div>
  <div class="field">
    <%=f.label :yol_password %> <%=  f.password_field :yol_password %>
  </div>
  <div class="action">
    <%=f.submit "Aloita varaaminen" %>
  </div>
<% end %>